<!DOCTYPE html>
<html>
    <head>
        <h1>add an album to ur shelf:</h1>
    </head>

    <body>
        <script src="../node_modules/jquery/dist/jquery.js"></script>
        <script src="../node_modules/parsleyjs/dist/parsley.js"></script>
        <form action="" method="POST" data-parsley-validate="">
            <h4>title:</h4>
            <input 
                type="text"
                name="title" 
                placeholder="title"
                data-parsley-required=""/>
            <br>

            <h4>artist:</h4>
            <input 
                type="text"
                name="artist" 
                placeholder="artist"
                data-parsley-required=""/>
            <br>

            <h4>review, in stars:</h4>
                <select name="stars" required="">
                    <option value=""></option>
                    <option value="★★★★★">★★★★★</option>
                    <option value="★★★★">★★★★</option>
                    <option value="★★★">★★★</option>
                    <option value="★★">★★</option>
                    <option value="★">★</option>
                </select>
            <br>

            <h4>review, in words:</h4>
            <textarea 
                name="review" 
                placeholder="ur review">
            </textarea>
            <br>

            <h4>year:</h4>
            <input
                data-parsley-type="integer"
                data-parsley-range="[1860, 2023]"
                name="year"
                placeholder="release year"/>
            <br>

            <h4>genre:</h4>
            <input
                type="text"
                name="genre"
                placeholder="genre"/>
            <br>
            <br>
            <input type="submit" value="submit" />
        </form>
    </body>
</html>