<!DOCTYPE html>
<html>
    <head>
        <h1>add a book to ur shelf:</h1>
    </head>

    <body>
        <script src="jquery.js"></script>
        <script src="parsley.js"></script>
        <form action="" method="POST" data-parsley-validate="">
            <h4>title:</h4>
            <input 
                type="text"
                name="title" 
                placeholder="title"
                data-parsley-required=""/>
            <br>

            <h4>author:</h4>
            <input
                type="text"
                name="author"
                placeholder="author"
                data-parsley-required=""/>
            <br>

            <link href="css/star-rating.css" rel="stylesheet">
            <label class="star-rating">review, in stars</label>
            <select class="star-rating" name="stars">
                <option value="">Select a rating</option>
                <option value="5">Excellent</option>
                <option value="4">Very Good</option>
                <option value="3">Average</option>
                <option value="2">Poor</option>
                <option value="1">Terrible</option>
            </select>

            <script src="js/star-rating.min.js"></script>
            <script>
                var stars = new StarRating('.star-rating');
            </script>

            <!--
            <span class="gl-star-rating">
                <select>
                    <option value="">Select a rating</option>
                    <option value="5">5 Stars</option>
                    <option value="4">4 Stars</option>
                    <option value="3">3 Stars</option>
                    <option value="2">2 Stars</option>
                    <option value="1">1 Star</option>
                </select>
                <span class="gl-star-rating //add extra - back // -stars">
                    <span data-value="1"></span>
                    <span data-value="2"></span>
                    <span data-value="3"></span>
                    <span data-value="4"></span>
                    <span data-value="5"></span>
                </span>
            </span>
            -->
            <!--
                <h4>review, in stars:</h4>
                <div class="stars">
                    <input type="radio" id="star5" name="stars" value="5" />
                        <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="stars" value="4" />
                        <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="stars" value="3" />
                        <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="stars" value="2" />
                        <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="stars" value="1" />
                        <label for="star1" title="text">1 star</label>
                </div>
            -->
            <br>

            <h4>review, in words:</h4>
            <textarea 
                name="review" 
                placeholder="ur review">
            </textarea>
            <br>

            <h4>publication year:</h4>
            <input 
                type="text" 
                data-parsley-valid-year="true"
                data-parsley-maxlength="6"
                data-parsley-pattern="[0-9]{1-4}|[0-9]{1-4}BC|[0-9]{1-4}AD"
                name="year" 
                placeholder="year"/>
            <br>

            <h4>genre:</h4>
            <input
                type="text"
                name="genre"
                placeholder="genre"/>
            <br>
            <br>
            <input type="submit" value="submit" />
        </form>
    </body>
</html>