<!DOCTYPE html>
<html>
    <header>
        <nav>
            <ul>
                <li><a href="/">home page</a></li>
                <li><a href="/addBook">add a book</a></li>
                <li><a href="/addMovie">add a movie</a></li>
                <li><a href="/addAlbum">add an album</a></li>
            </ul>	
	    </nav>
        <h2>add a book to ur shelf:</h2>
        <h6>* = required</h6>
    </header>

    <body>
       <script type="module" src="/javascripts/main.js"></script>
        <form id="form" action="" method="POST">
            <h4>title*:</h4>
            <input 
                type="text"
                name="title" 
                placeholder="title"
                data-rules="required"/>
            <br>

            <h4>author*:</h4>
            <input
                type="text"
                name="author"
                placeholder="author"
                data-rules="required"/>
            <br>

            <h4>review, in stars:</h4>
            <div class="stars">
                <select name="stars">
                    <option value="">select</option>
                    <option value="★★★★★">★★★★★</option>
                    <option value="★★★★">★★★★</option>
                    <option value="★★★">★★★</option>
                    <option value="★★">★★</option>
                    <option value="★">★</option>
                </select>
            </div>
            <br>

            <h4>review, in words:</h4>
            <textarea 
                name="review" 
                placeholder="ur review">
            </textarea>
            <br>

            <h4>publication year:</h4>
            <div id="bookYear">
            <input 
                name="year" 
                placeholder="year"
                data-rules="nullable|int|between:1,2023"/>
                <!-- bc what if they're reading the ancient texts -->
                <!-- from year 1 LMAO -->
            </div>
            <br>

            <h4>genre:</h4>
            <input
                type="text"
                name="genre"
                placeholder="genre"/>
            <br>
            <br>
            <input type="submit" value="submit" class="submitButton"/>
        </form>
    </body>
</html>