<!DOCTYPE html>
<html>
    <head>
        <title>my media shelf</title>
		<link rel="stylesheet" href="/output.css" type="text/css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <header>
            <h1>virtual media shelf!</h1>
            <h3>wow omg so cool</h3>
        </header>
        <nav>
            <ul>
                <li><a href="/">home page</a></li>
                <li><a href="/addBook">add a book</a></li>
                <li><a href="/addMovie">add a movie</a></li>
                <li><a href="/addAlbum">add an album</a></li>
            </ul>	
	    </nav>
        {{{body}}}
    </body>
</html>