<!DOCTYPE html>
<html>
    <head>
        <title>my media shelf</title>
		<link rel="stylesheet" href="/output.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script type="module" src="/javascripts/layout.js"></script>
        <!-- <script src="sweetalert2.all.min.js"></script> -->
    </head>
    <body>
        <header>
            <h1 class="text-4xl font-bold text-center text-slate-800">virtual media shelf!</h1>
            <h3 class="text-xl font-bold text-center text-slate-800">wow omg so cool</h3>
        </header>
        <nav>
            <ul>
                <li><a href="/">home page</a></li>
                <li><a href="/addBook">add a book</a></li>
                <li><a href="/addMovie">add a movie</a></li>
                <li><a href="/addAlbum">add an album</a></li>
                <li>
                    <form action="" method="POST" id="deleteForm">
                        <input type="radio" id="delete" name="delete" value="no">
                        <button type="button" id="deleteButton">clear shelf</button>
                    </form>
                </li>
            </ul>	
	    </nav>
        {{{body}}}
    </body>
</html>