<!DOCTYPE html>
<html>
    <head>
        <title>my media shelf</title>
		<link rel="stylesheet" href="/output.css" type="text/css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <header>
            <h1 class="text-4xl font-bold text-center text-slate-800">virtual media shelf!</h1>
            <h3 class="text-xl font-bold text-center text-slate-800">wow omg so cool</h3>
        </header>
        {{{body}}}
    </body>
</html>